<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- A comment in HTML -->

	<head>
	
		<title>Pearachute | Benton Harbor, MI</title>
		<link href='http://fonts.googleapis.com/css?family=Inconsolata&subset=latin' rel='stylesheet' type='text/css'>
	
		<style type="text/css">

            {% include style.css %}
		
		</style>
	</head>

	<body>

        <div id="frame">	
        {{ doc }}		
        </div>

    <hr>	
		<img src="http://pearachute.com/logo.png">
	
	</body>

</html>
