<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- A comment in HTML -->

	<head>
	
		<title>Pearachute | Benton Harbor, MI</title>
		<link href='http://fonts.googleapis.com/css?family=Inconsolata&subset=latin' rel='stylesheet' type='text/css'>
	
		<style type="text/css">
		/* A Comment in CSS */
			
			body { 
				text-align:center; 
				font-family: 'Inconsolata', 'arial', sans-serif;
				font-size: 26px;
			   color: #000000;
				background: #FFFFFF;
				}
			
			img {
				border-style:none;
				}
			
			a:link, a:visited, a:active {
			   text-decoration:none; 
				color: #3e5315;
			}
			
			a:hover { 
				text-decoration:underline; 
			   color: #FCBE4B;
			}
			
			a {
				margin:26px;
				}
			
			
			#hello { 
				padding:26px; 
				}
		
		</style>
	</head>

	<body>
			
		<p id="hello">
			Hello World<a href="/">!</a>
		</p>
	
		<img src="http://pearachute.com/logo.png">
	
	</body>

</html>
